<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DEX</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/dex.css" />
    </head>
    <body>
        <form action="/user/auth" method="get" id="signup-form"></form>
        <form action="/user/logout" method="post" id="logout-form"></form>
        <nav class="navbar">
            <div class="navbar__title">
                <div class="navbar__title__dex">DEX</div>
                <div class="navbar__title__name">by Srikanth Raghavan</div>
            </div>

            <div class="navbar__signup signup">
                <p>Sign Up</p>
            </div>

            <div class="navbar__logout logout">
                <p>Logout</p>
            </div>
        </nav>
        <div class="body">
            <div class="body__note-container">
                <div class="body__note-container__title">
                    <p class="whos-notes"><%= loggedInUsername %>'s notes</p>
                </div>
                <div class="body__note-container__body">
                    <% notes.forEach(note => { %>
                    <div class="note">
                        <p class="note__title"><%= note.title %></p>
                        <p class="note__note"><%= note.note %></p>
                    </div>
                    <%}); %>
                </div>
            </div>
            <!-- <div class="body__note-editor"></div> -->
        </div>

        <!-- <script src="/js/removeBorders.js"></script> -->
        <script src="/js/formSubmit.js"></script>
    </body>
</html>
